.content {
    padding: 0 486px 0 240px;
    background-image: url("../../../assets/images/background.svg");
    background-repeat: no-repeat;
    height: 300vh;
    background-color: #f2f2fa;
    background-position: 500px;
    background-position-y: 0px;
    .top {
        padding-top: 42px;
        display: flex;
        justify-content: space-between;
    }
    .profile-details {
        margin-top: 150px;
        .topo{
            align-items: center;
        }
        img {
            margin-right: 13px;
            width: 120px;
            height: 120px;
        }
        .direction {
            flex-direction: column;
            
        }
    }
    .flag-infos{
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .result {
        margin-top: 70px;
        .repos {
            margin-bottom: 16px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            background-color: white !important;
            height: 112px;
            border-radius: 5px;
            text,
            .arrow {
                width: 100%;
            }
            .arrow {
                text-align: right;
                margin-right: 10px;
            }
            .text {
                h3 {
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    margin: 0 0 4px 0;
                }
                p {
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    margin: 0;
                    color: #a8a8b3;
                }
            }
            .img {
                margin-left: 14.1px;
                margin-right: 22.1px;
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;

                }
            }
        }
    }
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #737380;
}
