<div class="content">
    <div class="background">

    </div>
    <div class="data">
        {{cep}}
        <div class="action">
            <input type="text" mask="00000-000" [(ngModel)]="cep" class="example-full-width">
            <button mat-raised-button class="btn" (click)="buscarCep()">Pesquisar cep</button>
        </div>
    </div>
    <div class="res">
        <form action="" >
            <input type="text" class="mt-10 example-full-width">
            <input type="text" class="mt-10 example-full-width">
            <input type="text" class=" mt-10 example-full-width">
            <input type="text" class=" mt-10 example-full-width">
        </form>

    </div>
</div>